html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #2D2D2D;
  background-color: #FFF;
}

body {
  padding: 0 2rem 4rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h2 {
  margin: 3rem 0 2rem;
  padding: 0 0.5rem 0.3rem;
  font-size: 2rem;
  line-height: 2rem;
  border-bottom: 1px solid rgba(45, 45, 45, 0.2);
  border-left: 2px solid rgba(45, 45, 45, 0.2);
}

.cards-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 327px;
  background-color: #FFF;
  border: 1px solid rgba(45, 45, 45, 0.2);
  border-radius: 4px;
  transition: all 0.2s;
}
.card[data-url]:hover, .card[data-alert]:hover {
  cursor: pointer;
  background-color: #F7F7F7;
}
.card[data-url]:focus, .card[data-url].focused, .card[data-alert]:focus, .card[data-alert].focused {
  background-color: #FFF;
  border-color: #2F2A8D;
  box-shadow: 0 0 0 3px #D5D4E8;
}
.card.loading {
  position: relative;
  height: 472px;
  overflow: hidden;
  background: url("card-loading-image.png") no-repeat left top;
}
.card.loading.with-thumbnail {
  background-image: url("card-loading-image-withThumbail.png");
}
.card.loading:before {
  position: absolute;
  left: -10%;
  top: -5%;
  height: 110%;
  width: 0;
  display: block;
  content: "";
  box-shadow: 0 0 20px 5px #FFF;
  transform: rotate(8deg);
  animation-name: loading;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.card.wide {
  width: 544px;
}
.card .image {
  overflow: hidden;
}
.card .image img {
  display: block;
}
.card .image.aspect-image {
  position: relative;
  overflow: hidden;
  padding-top: calc(331 / 541 * 100%);
}
.card .image.aspect-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card .title {
  display: flex;
  align-items: center;
  margin: 1.5rem;
}
.card .title img {
  width: 60px;
  height: 60px;
  margin: 0 1.5rem 0 0;
  border-radius: 50%;
}
.card .title .headers {
  display: flex;
  flex-direction: column;
}
.card .title h3 {
  font-family: "Lora", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.card .title h4 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #6E6E6E;
}
.card .title + .content {
  margin-top: 0;
}
.card .content {
  flex-grow: 1;
  margin: 1.5rem;
}
.card .footer {
  padding: 1.5rem;
  font-size: 14px;
  font-weight: 500;
  color: #6E6E6E;
  border-top: 1px solid rgba(45, 45, 45, 0.2);
}

@keyframes loading {
  0% {
    left: -10%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -10%;
  }
}
@media (max-width: 1120px) {
  .cards-holder {
    flex-direction: column;
  }
  .cards-holder .card {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 635px) {
  .card.wide {
    width: 100%;
  }
  .card.wide .image {
    position: relative;
    overflow: hidden;
    padding-top: calc(200 / 544 * 100%);
  }
  .card.wide .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .card.wide .image.aspect-image {
    padding-top: calc(331 / 541 * 100%);
  }
}

/*# sourceMappingURL=card.css.map */
